<footer class="footer">
	{{- partial "footer_social.html" . }}
	{{- partial "footer_menu.html" . }}
	<div class="footer__copyright">© {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}. <span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span></div>
  <script defer src="/fontawesome/js/solid.js"></script>
  <script defer src="/fontawesome/js/fontawesome.js"></script>
</footer>
